<!DOCTYPE html>
<html lang="en">
<head>
  {{> partials/_header-section }}
</head>
<body class="page basicpage">
  <!-- Root Layout Container -->
 
  <div class="analytics" role="main" id="content" data-sitecurrency="" data-sitelanguage="" data-currenturl=""
    data-sitetype="">
    <div class="root responsivegrid">
      {{#> body}}{{/body}}
    </div>
  </div>
  <!-- Footer Scripts -->
  {{> partials/_footer-section }}
</body>
</html>

