<title>{{title}}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="template" content="content-page-template" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="https://adobe-marketing-cloud.github.io/aem-responsivegrid/css/aem-grid-12.css" rel="stylesheet">
